body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
}
.containerAll{
  text-align: center;
  background-color: rgb(37, 37, 53);
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-radius: 20px;
}
.num{
  
 background-color: rgb(141, 141, 165);
 color: brown;
 font-size: 40px;
 font-weight: bolder;
 margin-bottom: 20px;
border-radius: 5px;
border-color: aqua;
  
}
.title{
  color: aqua;

}
button{
  background-color: black;
  color:white;
}